@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: left;
  border: 0;
  color: #23292e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  font-size: 16px;
}

button {
  background: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
}

html,
body {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header-bg {
  background-color: #fff;
  z-index: 1;
  position: relative;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 5rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.875rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  letter-spacing: 0.125rem;
}

.menu a {
  color: #837d87;
}

.menu a:hover {
  color: #2d2640;
}

.menu .btn a {
  color: #2d2640;
  border: 1px solid #2d2640;
  padding: 0.625rem 1.875rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu .btn a:hover {
  background-color: #2d2640;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pattern-intro {
  position: absolute;
  top: 0px;
  right: 0px;
}

.pattern-intro-left {
  position: absolute;
  top: 550px;
  left: 0px;
}

.intro-bg {
  background-color: #2d2640;
  -webkit-box-shadow: inset 0px -120px #fff;
  box-shadow: inset 0px -120px #fff;
}

.intro {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-top: 100px;
  gap: 1.875rem;
}

.intro-content {
  display: grid;
  align-self: flex-start;
  gap: 1.875rem;
}

.intro h1 {
  font-family: "DM Serif Display", serif;
  color: #fff;
  font-size: 5rem;
  font-weight: normal;
  line-height: 1;
}

.intro h1::before {
  content: "";
  display: block;
  height: 2px;
  width: 250px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 20px;
}

.intro p,
.intro a {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 1.5rem;
  font-weight: normal;
  max-width: 50ch;
}

.intro a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid #fff;
  padding: 0.625rem 1.875rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.intro-img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.diferencials h1 {
  font-family: "DM Serif Display", serif;
  color: #2d2640;
  font-size: 5rem;
  font-weight: normal;
  line-height: 1;
  padding-top: 7.5rem;
}
.diferencials h1::before {
  content: "";
  display: block;
  height: 2px;
  width: 250px;
  background-color: #2d2640;
  margin-bottom: 20px;
  border-radius: 20px;
}

.diferencials-itens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 6.25rem;
  gap: 1.875rem;
}
.diferencials-itens h2 {
  font-family: "DM Serif Display", serif;
  color: #2d2640;
  font-size: 1.875rem;
  font-weight: normal;
  padding: 0.625rem 0rem;
}
.diferencials-itens p {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: #837d87;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.625rem 0rem;
}

.diferencials-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
  padding: 2.5rem 7.5rem;
  background: #2d2640 url("/images/bg-pattern-how-we-work-desktop.svg") no-repeat right/contain;
}
.diferencials-banner > h1 {
  padding: 0rem;
  color: #fff;
}
.diferencials-banner a {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.625rem 1.875rem;
}

.footer-bg {
  background: url("/images/bg-pattern-footer-desktop.svg") no-repeat #fafafa;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social img:hover {
  -webkit-filter: brightness(20%);
  filter: brightness(20%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

hr {
  border-bottom: 1px solid #837d87;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 3.125rem 0.9375rem;
}

.menu-footer_items {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.9375rem;
}

.menu-footer_items p {
  padding-bottom: 0.9375rem;
  color: #837d87;
}

.menu-footer_items li {
  color: #2d2640;
}

.menu-footer_items li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.attribution {
  text-align: center;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.625rem;
  color: #837d87;
}

.attribution a {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  letter-spacing: 0.125rem;
  letter-spacing: 0.125rem;
  font-size: 0.625rem;
  color: #2d2640;
}

.attribution a:hover {
  text-decoration: underline;
}