$dark-violet: hsl(256, 26%, 20%);
$gray-blue: hsl(216, 30%, 68%);
$gray: hsl(273, 4%, 51%);
$neutral: #fff;
$dark: #29272d;

@mixin font-1 {
  font-family: "DM Serif Display", serif;
}

@mixin font-2 {
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

@mixin font-2-b {
  font-family: "Karla", sans-serif;
  font-weight: 700;
}
